{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-5"><a class="mr-4" href="{{ path('index')}}#{{ book.name | toHashId }}"><small><i class="fa fa-arrow-left"></i> Retour</small></a>{{ book.name }}</h1>
    <div class="mb-4">
        {{ form_start(form) }}
        <div class="d-none">
            {{ form_row(form.book) }}
        </div>
        {{ form_row(form.count, {'label': 'Numéro du volume'}) }}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                Sauvegarder
            </button>
        </div>
        {{ form_end(form) }}
    </div>
    <h2>Liste des volumes</h2>
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for volume in book.volumes %}
            <tr id="{{ volume.id }}">
                <td>Volume {{ volume.count }}</td>
                <td><a href="{{ path('volume_remove', {id: volume.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}