{% extends 'base.html.twig' %}

{% block body %}
    <div class="mb-4">
        {{ form_start(form) }}
        {{ form_row(form.name,{ 'label': 'Nom du livre' }) }}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
        {{ form_end(form) }}
    </div>
    <div>
        <h2 class="row">
            <span class="col">
            Liste des livres
            </span>
            <span class="col text-right">
                {{ books | length }} Collections - {{ countVolume }} Volumes
            </span>
        </h2>
        <div class="table-responsive">
            <table class="table table-striped ">
                <thead class="thead-light">
                <tr>
                    <th>Nom</th>
                    <th>Volumes</th>
                    <th>Ajouter un volume</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr id="{{ book.name | toHashId }}">
                        <td><a href="{{ path('book', {id: book.id}) }}">{{ book.name }}</a></td>
                        <td>
                            <select class="form-control">
                                {% for volume in (book.volumes | reverse) %}
                                    <option value="{{ volume.id }}">{{ volume.count }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            {{ form_start(book.form) }}
                            <div class="d-none">
                                {{ form_row(book.form.book) }}
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    {{ form_row(book.form.count, {'label': false, 'attr': {'placeholder': 'Ajouter un volume'}}) }}
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                </button>
                            </div>
                            {{ form_end(book.form) }}
                        </td>
                        <td>
                            <a href="{{ path('remove', {id: book.id}) }}" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}