<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ma librarie{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container pt-4 pb-4">
            <div class="jumbotron p-5 text-center text-md-left author-box mb-4">
                <!-- Name -->
                <div class="row">
                    <!-- Avatar -->
                    <div class="col-12 col-md-2 mb-md-0 mb-4">
                        <img src="{{ asset('books.jpeg') }}"
                             class="img-fluid rounded-circle z-depth-2 avatar">
                    </div>
                    <!-- Author Data -->
                    <div class="col-12 col-md-10">
                        <h5 class="font-weight-bold dark-grey-text mb-3">
                            <strong>Ma librairie</strong>
                        </h5>
                        <p>Cette application a pour but de lister les différents livres qui composent votre librairie.</p>
                        <p>Combien de fois êtes-vous rentré dans une librairie sans pouvoir vous rappeler le dernier volume
                            de votre série préféré ?
                            Avec Ma Librairie, cette histoire est finie ! Vous pouvez en quelques clics ajouter tous les
                            livres que composent votre librairie.
                        </p>
                        <p>Ce site est en Work-In-Progress, c'est à dire qu'il est encore de création.
                            Si vous souhaitez proposer des améliorations, veuillez envoyer un email à <a
                                    href="mailto:f.moutawe@gmail.com">f.moutawe@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.js"
                    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                    crossorigin="anonymous"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.min.js"></script>
        {% endblock %}
    </body>
</html>
